.DS_Store
*.cache
*.info
*.ca-list
*-ca-bundle
*-ca-bundle.crt
*.pyc
*.scssc
*.sassc
*.sublime-license
*.bak
node_modules
Package Control.cache
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/